<div id="<%= dom_id doctor %>">
  <h2 class="hdoc"><%= doctor.first_name %> <%= doctor.last_name %></h2>
  <div class="button2">
    <%= link_to new_doctor_path(doctor_id: doctor.id), class: "button1" do %>
      <h3 class="button1">Записатись до лікаря</h3>
    <% end %>
  </div>
</div>