<div class="wrapper">

  <div class="doctor-container">
    <% @doctor.each do |doctor| %>
      <%= render doctor %>
    <% end %>
  </div>

  <% if flash[:notice] %>
    <p style="color: green"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p style="color: red"><%= flash[:alert] %></p>
  <% end %>

</div>